@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

body {
	font-family: "Akshar", sans-serif;
}

.navbar {
	display: flex;
	align-items: center;
	padding: var(--navbar-padding, 0.5rem /* 8px */);
	min-height: 4rem /* 64px */;
	width: 100%;
}
.navbar-start {
	width: 50%;
	justify-content: flex-start;
}

.background-dark-slate-gray {
	--tw-bg-opacity: 1;
	background-color: rgb(37 97 82 / var(--tw-bg-opacity));
}
.teks-putih {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.font-teks-semibold {
	font-weight: 600;
}

:where(.navbar > *) {
	display: inline-flex;
	align-items: center;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown > *:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.dropdown .dropdown-content {
	position: absolute;
}
.dropdown:is(:not(details)) .dropdown-content {
	visibility: hidden;
	opacity: 0;
	transform-origin: top;
	--tw-scale-x: 0.95;
	--tw-scale-y: 0.95;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 200ms;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	visibility: visible;
	opacity: 1;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	visibility: visible;
	opacity: 1;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	visibility: visible;
	opacity: 1;
}
@media (hover: hover) {
	.dropdown.dropdown-hover:hover .dropdown-content {
		visibility: visible;
		opacity: 1;
	}
}
@media (hover: hover) {
	.dropdown.dropdown-hover:hover .dropdown-content {
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		transform: translate(var(--tw-translate-x), var(--tw-translate-y))
			rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
			scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
}
.dropdown:is(details) summary::-webkit-details-marker {
	display: none;
}
.join .dropdown .join-item:first-child:not(:last-child),
.join *:first-child:not(:last-child) .dropdown .join-item {
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}
.join .dropdown .join-item:first-child:not(:last-child),
.join *:first-child:not(:last-child) .dropdown .join-item {
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.btn {
	display: inline-flex;
	flex-shrink: 0;
	cursor: pointer;
	user-select: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-color: transparent;
	border-color: hsl(var(--b2) / var(--tw-border-opacity));
	text-align: center;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 200ms;
	border-radius: var(--rounded-btn, 0.5rem /* 8px */);
	height: 3rem /* 48px */;
	padding-left: 1rem /* 16px */;
	padding-right: 1rem /* 16px */;
	min-height: 3rem /* 48px */;
	font-size: 0.875rem /* 14px */;
	line-height: 1em;
	gap: 0.5rem /* 8px */;
	font-weight: 600;
	text-decoration-line: none;
	text-decoration-line: none;
	border-width: var(--border-btn, 1px);
	animation: button-pop var(--animation-btn, 0.25s) ease-out;
	text-transform: var(--btn-text-case, uppercase);
	--tw-border-opacity: 1;
	--tw-bg-opacity: 1;
	background-color: hsl(var(--b2) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	outline-color: hsl(var(--bc) / 1);
}
.btn-disabled,
.btn[disabled],
.btn:disabled {
	pointer-events: none;
}
.btn-disabled,
.btn[disabled],
.btn:disabled {
	pointer-events: none;
}
.btn-group > input[type="radio"].btn {
	appearance: none;
}
.btn-group > input[type="radio"].btn:before {
	content: attr(data-title);
}
.btn:is(input[type="checkbox"]),
.btn:is(input[type="radio"]) {
	width: auto;
	appearance: none;
}
.btn:is(input[type="checkbox"]),
.btn:is(input[type="radio"]) {
	width: auto;
	appearance: none;
}
.btn:is(input[type="checkbox"]):after,
.btn:is(input[type="radio"]):after {
	--tw-content: attr(aria-label);
	content: var(--tw-content);
}
.btn:is(input[type="checkbox"]):after,
.btn:is(input[type="radio"]):after {
	--tw-content: attr(aria-label);
	content: var(--tw-content);
}
@media (hover: hover) {
	.btn:hover {
		--tw-border-opacity: 1;
		border-color: hsl(var(--b3) / var(--tw-border-opacity));
		--tw-bg-opacity: 1;
		background-color: hsl(var(--b3) / var(--tw-bg-opacity));
	}
}
@media (hover: hover) {
	.btn.glass:hover {
		--glass-opacity: 25%;
		--glass-border-opacity: 15%;
	}
}
@media (hover: hover) {
	.btn-disabled:hover,
	.btn[disabled]:hover,
	.btn:disabled:hover {
		--tw-border-opacity: 0;
		background-color: hsl(var(--n) / var(--tw-bg-opacity));
		--tw-bg-opacity: 0.2;
		color: hsl(var(--bc) / var(--tw-text-opacity));
		--tw-text-opacity: 0.2;
	}
}
@media (hover: hover) {
	.btn-disabled:hover,
	.btn[disabled]:hover,
	.btn:disabled:hover {
		--tw-border-opacity: 0;
		background-color: hsl(var(--n) / var(--tw-bg-opacity));
		--tw-bg-opacity: 0.2;
		color: hsl(var(--bc) / var(--tw-text-opacity));
		--tw-text-opacity: 0.2;
	}
}
@media (hover: hover) {
	.btn:is(input[type="checkbox"]:checked):hover,
	.btn:is(input[type="radio"]:checked):hover {
		--tw-border-opacity: 1;
		border-color: hsl(var(--pf) / var(--tw-border-opacity));
		--tw-bg-opacity: 1;
		background-color: hsl(var(--pf) / var(--tw-bg-opacity));
	}
}
@media (hover: hover) {
	.btn:is(input[type="checkbox"]:checked):hover,
	.btn:is(input[type="radio"]:checked):hover {
		--tw-border-opacity: 1;
		border-color: hsl(var(--pf) / var(--tw-border-opacity));
		--tw-bg-opacity: 1;
		background-color: hsl(var(--pf) / var(--tw-bg-opacity));
	}
}
.btn:active:hover,
.btn:active:focus {
	animation: button-pop 0s ease-out;
	transform: scale(var(--btn-focus-scale, 0.97));
}
.btn:active:hover,
.btn:active:focus {
	animation: button-pop 0s ease-out;
	transform: scale(var(--btn-focus-scale, 0.97));
}
.btn:focus-visible {
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 2px;
}
.btn.glass {
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	outline-color: currentColor;
}
.btn.glass.btn-active {
	--glass-opacity: 25%;
	--glass-border-opacity: 15%;
}
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
	--tw-border-opacity: 0;
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.2;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	--tw-text-opacity: 0.2;
}
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
	--tw-border-opacity: 0;
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.2;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	--tw-text-opacity: 0.2;
}
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
	--tw-border-opacity: 0;
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.2;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	--tw-text-opacity: 0.2;
}
.btn-group > input[type="radio"]:checked.btn,
.btn-group > .btn-active {
	--tw-border-opacity: 1;
	border-color: hsl(var(--p) / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: hsl(var(--p) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(--pc) / var(--tw-text-opacity));
}
.btn-group > input[type="radio"]:checked.btn:focus-visible,
.btn-group > .btn-active:focus-visible {
	outline-style: solid;
	outline-width: 2px;
	outline-color: hsl(var(--p) / 1);
}
.btn:is(input[type="checkbox"]:checked),
.btn:is(input[type="radio"]:checked) {
	--tw-border-opacity: 1;
	border-color: hsl(var(--p) / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: hsl(var(--p) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(--pc) / var(--tw-text-opacity));
}
.btn:is(input[type="checkbox"]:checked),
.btn:is(input[type="radio"]:checked) {
	--tw-border-opacity: 1;
	border-color: hsl(var(--p) / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: hsl(var(--p) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(--pc) / var(--tw-text-opacity));
}
.btn:is(input[type="checkbox"]:checked):focus-visible,
.btn:is(input[type="radio"]:checked):focus-visible {
	outline-color: hsl(var(--p) / 1);
}
.btn:is(input[type="checkbox"]:checked):focus-visible,
.btn:is(input[type="radio"]:checked):focus-visible {
	outline-color: hsl(var(--p) / 1);
}
.btn-group .btn:not(:first-child):not(:last-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group .btn:first-child:not(:last-child) {
	margin-top: -0px;
	margin-left: -1px;
	border-top-left-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-bottom-right-radius: 0;
}
.btn-group .btn:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: var(--rounded-btn, 0.5rem /* 8px */);
}
.btn-group-horizontal .btn:not(:first-child):not(:last-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group-horizontal .btn:first-child:not(:last-child) {
	margin-top: -0px;
	margin-left: -1px;
	border-top-left-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-bottom-right-radius: 0;
}
.btn-group-horizontal .btn:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: var(--rounded-btn, 0.5rem /* 8px */);
}
.btn-group-vertical .btn:first-child:not(:last-child) {
	margin-top: -1px;
	margin-left: -0px;
	border-top-left-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-top-right-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group-vertical .btn:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--rounded-btn, 0.5rem /* 8px */);
	border-bottom-right-radius: var(--rounded-btn, 0.5rem /* 8px */);
}
@media (hover: hover) {
	.btn-ghost:hover {
		--tw-border-opacity: 0;
		background-color: hsl(var(--bc) / var(--tw-bg-opacity));
		--tw-bg-opacity: 0.2;
	}
}
.btn-ghost {
	border-width: 1px;
	border-color: transparent;
	background-color: transparent;
	color: currentColor;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	outline-color: currentColor;
}
.btn-ghost.btn-active {
	--tw-border-opacity: 0;
	background-color: hsl(var(--bc) / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.2;
}
@media (min-width: 1024px) {
	.lg\:hidden {
		display: none;
	}
}
.dropdown .dropdown-content {
	position: absolute;
}
.dropdown:is(:not(details)) .dropdown-content {
	visibility: hidden;
	opacity: 0;
	transform-origin: top;
	--tw-scale-x: 0.95;
	--tw-scale-y: 0.95;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 200ms;
}
.dropdown-end .dropdown-content {
	right: 0px;
}
.dropdown-left .dropdown-content {
	top: 0px;
	right: 100%;
	bottom: auto;
	transform-origin: right;
}
.dropdown-right .dropdown-content {
	left: 100%;
	top: 0px;
	bottom: auto;
	transform-origin: left;
}
.dropdown-bottom .dropdown-content {
	bottom: auto;
	top: 100%;
	transform-origin: top;
}
.dropdown-top .dropdown-content {
	bottom: 100%;
	top: auto;
	transform-origin: bottom;
}
.dropdown-end.dropdown-right .dropdown-content {
	bottom: 0px;
	top: auto;
}
.dropdown-end.dropdown-left .dropdown-content {
	bottom: 0px;
	top: auto;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	visibility: visible;
	opacity: 1;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	visibility: visible;
	opacity: 1;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	visibility: visible;
	opacity: 1;
}
@media (hover: hover) {
	.dropdown.dropdown-hover:hover .dropdown-content {
		visibility: visible;
		opacity: 1;
	}
}
@media (hover: hover) {
	.dropdown.dropdown-hover:hover .dropdown-content {
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		transform: translate(var(--tw-translate-x), var(--tw-translate-y))
			rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
			scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.navbar-center {
	flex-shrink: 0;
}
.hidden {
	display: none;
}
@media (min-width: 1024px) {
	.lg\:flex {
		display: flex;
	}
}
.menu-horizontal {
	display: inline-flex;
	flex-direction: row;
}
.menu-horizontal > li:not(.menu-title) > details > ul {
	position: absolute;
}
.menu-horizontal > li:not(.menu-title) > details > ul {
	margin-top: 1rem /* 16px */;
	margin-left: 0px;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;
	padding-right: 0.5rem /* 8px */;
}
.menu-horizontal > li > details > ul:before {
	content: none;
}
:where(.menu-horizontal > li:not(.menu-title) > details > ul) {
	--tw-bg-opacity: 1;
	background-color: hsl(var(--b1) / var(--tw-bg-opacity));
	--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
		0 8px 10px -6px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	border-radius: var(--rounded-box, 1rem /* 16px */);
}
.shadow {
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (hover: hover) {
	.menu li > *:not(ul):not(.menu-title):not(details):active,
	.menu li > *:not(ul):not(.menu-title):not(details).active,
	.menu li > details > summary:active {
		--tw-bg-opacity: 1;
		background-color: hsl(var(--n) / var(--tw-bg-opacity));
		--tw-text-opacity: 1;
		color: hsl(var(--nc) / var(--tw-text-opacity));
	}
}
@media (hover: hover) {
	.menu li > *:not(ul):not(.menu-title):not(details):active,
	.menu li > *:not(ul):not(.menu-title):not(details).active,
	.menu li > details > summary:active {
		--tw-bg-opacity: 1;
		background-color: hsl(var(--n) / var(--tw-bg-opacity));
		--tw-text-opacity: 1;
		color: hsl(var(--nc) / var(--tw-text-opacity));
	}
}
@media (hover: hover) {
	.menu li > *:not(ul):not(.menu-title):not(details):active,
	.menu li > *:not(ul):not(.menu-title):not(details).active,
	.menu li > details > summary:active {
		--tw-bg-opacity: 1;
		background-color: hsl(var(--n) / var(--tw-bg-opacity));
		--tw-text-opacity: 1;
		color: hsl(var(--nc) / var(--tw-text-opacity));
	}
}
@media (hover: hover) {
	:where(
			.menu
				li:not(.menu-title):not(.disabled)
				> *:not(ul):not(details):not(.menu-title)
		):not(.active):hover,
	:where(
			.menu
				li:not(.menu-title):not(.disabled)
				> details
				> summary:not(.menu-title)
		):not(.active):hover {
		cursor: pointer;
		background-color: hsl(var(--bc) / 0.1);
		--tw-text-opacity: 1;
		color: hsl(var(--bc) / var(--tw-text-opacity));
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}
@media (hover: hover) {
	:where(
			.menu
				li:not(.menu-title):not(.disabled)
				> *:not(ul):not(details):not(.menu-title)
		):not(.active):hover,
	:where(
			.menu
				li:not(.menu-title):not(.disabled)
				> details
				> summary:not(.menu-title)
		):not(.active):hover {
		cursor: pointer;
		background-color: hsl(var(--bc) / 0.1);
		--tw-text-opacity: 1;
		color: hsl(var(--bc) / var(--tw-text-opacity));
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}
.menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	padding: 0.5rem /* 8px */;
}
.menu :where(li ul) {
	position: relative;
	white-space: nowrap;
	margin-left: 1rem /* 16px */;
	padding-left: 0.5rem /* 8px */;
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
	display: grid;
	grid-auto-flow: column;
	align-content: flex-start;
	align-items: center;
	gap: 0.5rem /* 8px */;
	grid-auto-columns: minmax(auto, max-content) auto max-content;
	user-select: none;
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
	display: grid;
	grid-auto-flow: column;
	align-content: flex-start;
	align-items: center;
	gap: 0.5rem /* 8px */;
	grid-auto-columns: minmax(auto, max-content) auto max-content;
	user-select: none;
}
.menu li.disabled {
	cursor: not-allowed;
	user-select: none;
	color: hsl(var(--bc) / 0.3);
}
.menu :where(li > .menu-dropdown:not(.menu-dropdown-show)) {
	display: none;
}
:where(.menu li) {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
}
:where(.menu li) .badge {
	justify-self: end;
}
:where(.menu li:empty) {
	background-color: hsl(var(--bc) / 0.1);
	margin: 0.5rem /* 8px */ 1rem /* 16px */;
	height: 1px;
}
.menu :where(li ul):before {
	position: absolute;
	left: 0px;
	top: 0.75rem /* 12px */;
	bottom: 0.75rem /* 12px */;
	width: 1px;
	background-color: hsl(var(--bc) / 0.1);
	content: "";
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
	padding-left: 1rem /* 16px */;
	padding-right: 1rem /* 16px */;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;
	text-align: left;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 200ms;
	border-radius: var(--rounded-btn, 0.5rem /* 8px */);
	text-wrap: balance;
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
	padding-left: 1rem /* 16px */;
	padding-right: 1rem /* 16px */;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;
	text-align: left;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 200ms;
	border-radius: var(--rounded-btn, 0.5rem /* 8px */);
	text-wrap: balance;
}
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):is(summary):not(.active):focus-visible,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):is(summary):not(.active):focus-visible {
	cursor: pointer;
	background-color: hsl(var(--bc) / 0.1);
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	outline: 2px solid transparent;
	outline-offset: 2px;
}
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):is(summary):not(.active):focus-visible,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):is(summary):not(.active):focus-visible {
	cursor: pointer;
	background-color: hsl(var(--bc) / 0.1);
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	outline: 2px solid transparent;
	outline-offset: 2px;
}
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):is(summary):not(.active):focus-visible,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):is(summary):not(.active):focus-visible {
	cursor: pointer;
	background-color: hsl(var(--bc) / 0.1);
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	outline: 2px solid transparent;
	outline-offset: 2px;
}
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):is(summary):not(.active):focus-visible,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):is(summary):not(.active):focus-visible {
	cursor: pointer;
	background-color: hsl(var(--bc) / 0.1);
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	outline: 2px solid transparent;
	outline-offset: 2px;
}
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):is(summary):not(.active):focus-visible,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):is(summary):not(.active):focus-visible {
	cursor: pointer;
	background-color: hsl(var(--bc) / 0.1);
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	outline: 2px solid transparent;
	outline-offset: 2px;
}
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> *:not(ul):not(details):not(.menu-title)
	):is(summary):not(.active):focus-visible,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active).focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):not(summary):not(.active):focus,
:where(
		.menu
			li:not(.menu-title):not(.disabled)
			> details
			> summary:not(.menu-title)
	):is(summary):not(.active):focus-visible {
	cursor: pointer;
	background-color: hsl(var(--bc) / 0.1);
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
	--tw-bg-opacity: 1;
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(--nc) / var(--tw-text-opacity));
}
.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
	--tw-bg-opacity: 1;
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(--nc) / var(--tw-text-opacity));
}
.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
	--tw-bg-opacity: 1;
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(--nc) / var(--tw-text-opacity));
}
.menu :where(li > details > summary)::-webkit-details-marker {
	display: none;
}
.menu :where(li > details > summary):after,
.menu :where(li > .menu-dropdown-toggle):after {
	justify-self: end;
	display: block;
	margin-top: -0.5rem /* -8px */;
	height: 0.5rem /* 8px */;
	width: 0.5rem /* 8px */;
	transform: rotate(45deg);
	transition-property: transform, margin-top;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	content: "";
	transform-origin: 75% 75%;
	box-shadow: 2px 2px;
	pointer-events: none;
}
.menu :where(li > details > summary):after,
.menu :where(li > .menu-dropdown-toggle):after {
	justify-self: end;
	display: block;
	margin-top: -0.5rem /* -8px */;
	height: 0.5rem /* 8px */;
	width: 0.5rem /* 8px */;
	transform: rotate(45deg);
	transition-property: transform, margin-top;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	content: "";
	transform-origin: 75% 75%;
	box-shadow: 2px 2px;
	pointer-events: none;
}
.menu :where(li > details[open] > summary):after,
.menu :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
	transform: rotate(225deg);
	margin-top: 0;
}
.menu :where(li > details[open] > summary):after,
.menu :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
	transform: rotate(225deg);
	margin-top: 0;
}
